config.json
flowts-client-config.json

.dotnet/
.dotnet-install.ps1
bin/
obj/
FlowTS.Native/bin/
FlowTS.Native/obj/
vendor/TS3AudioBot-source/TSLib/bin/
vendor/TS3AudioBot-source/TSLib/obj/

dist/
release/

__pycache__/
*.pyc
*.log
